


<div class="content_title">Release Notes</div>




<div class="content_outer" style="">
	
	
	<div class="content_core" style="">
		<div class="content_core_title" style="">
			<h4>release 4.0</h4>
		</div>
		<div class="content_form" style="">
			<p>
				1. We're onboarding Qunar - A Chinese-language online travel information provider.<br />
				 https://www.crunchbase.com/organization/qunar-com#/entity <br />
				2. Publisher data discrepancy issue fixed (Pending final validation)<br /> 
				3. Universal Event Tracking: track customer activities, create conversion goals and events.<br />
				4. Improved database stability<br />
				5. Backend fixes<br />
			</p>
			
		</div>
	</div>
	
	<hr>
	
	<div class="content_core" style="">
		<div class="content_core_title" style="">
			<h4>release 3.5.6</h4>
		</div>
		<div class="content_form" style="">
			<p>
				Further database enhancement fixes
			</p>
			<p>
				[CTrip] Shenma accounts - Redirection tagging of keywords
			</p>
		</div>
	</div>
	
	<hr>
	
	<div class="content_core" style="">
		<div class="content_core_title" style="">
			<h4>release 3.5.5</h4>
		</div>
		<div class="content_form" style="">
			<p>
				Database stability enhancement
			</p>
		</div>
	</div>
	
	<hr>
	
	
	<div class="content_core" style="">
		<div class="content_core_title" style="">
			<h4>release 3.5.4</h4>
		</div>
		<div class="content_form" style="">
			<p>
				Column width of the different tables can be adjusted
			</p>
			<p>
				2nd dashboard chart is now showing the line in orange instead of green
			</p>
		</div>
	</div>
	
	<hr>
	
	<div class="content_core" style="">
		<div class="content_core_title" style="">
			<h4>release 3.5.3</h4>
		</div>
		<div class="content_form" style="">
			<p>
				Watchdog domain name whitelisting (for CTrip)<br />
				Watchdog report update to show only links with 403/404 status
			</p>
			<p>
				A new metric, ROI, is currently in development and will be available in subsequent releases.
			</p>
		</div>
	</div>
	
	<hr>
	
	<div class="content_core" style="">
		<div class="content_core_title" style="">
			<h4>release 3.5.2</h4>
		</div>
		<div class="content_form" style="">
			<p>
				Dashboard enhancements - Now using 2 charts to display 2 different metrics for clarity<br />
				Average Position metrics display is now fixed on the dashboard
				<br />
			</p>
			<p>
				<b>360 Platform Service Outage</b>
				<br />

				There were outages on 360 platform from Mar 8 onwards. Adeqo cannot get the performance data of previous day until very late of the day. Adeqo will keep requesting the data from 360 and update accordingly. If you find any discrepancies in the data, please ping us and we would re-fetch the data again.
				<br />
			</p>
			
			<p>
				<b>New Features Coming Up</b>
				<br />
				Quickly adding a new keyword within Adeqo<br />
				Resizing of table columns<br />
				[CTrip Only] Conversion type support in BI integration<br />
				Daily revenue report
			</p>
		</div>
	</div>
	
</div>