<footer class="footer-container">
	<div class="container">
		<div class="row" >
			<div class="col-xs-12">
				<p class="color-xs-white text-center">Copyright © 2016 Adeqo. <a href="http://www.bmgww.com/" target="_blank">Adeqo & Adeqo Limited are Intellectual Property of Beyond Media Global Limited.</a>. All Rights Reserved. ICP: 15044856.</p>
				<p class="color-xs-white text-center">Terms of use &amp; Privacy Policy</p>
			</div>
			<!-- <div class="col-xs-12">
				<p class="color-xs-white text-center">Terms of use &amp; Privacy Policy</p>
			</div> -->
		</div>
	</div>
</footer>