<header>
	<nav class="navbar navbar-default navbar-fixed-top navbar-transparent" data-spy="affix" data-offset-top="160">
		
		<div class="bg-black color-xs-white line-height-xs-30">
			<div class="container">
				<div class="row">
					<div class="col-xs-4 padding-right-xs-0"><i class="fa fa-phone" aria-hidden="true"></i> +852 2492 2770</div>
					<div class="col-xs-8 padding-left-xs-0 padding-right-sm-0 pull-right">
						<ul class="list-inline list-unstyled margin-xs-0 text-right text-uppercase">
							<li><a class="color-xs-white padding-left-xs-0 padding-right-xs-0 padding-left-sm-30 padding-right-sm-30" href="contact_us">Contact Us</a></li>
							<li><a class="color-xs-white padding-left-xs-0 padding-right-xs-0 padding-left-sm-30 padding-right-sm-30" href="#">Support</a></li>
							<li><a class="color-xs-white padding-left-xs-0 padding-right-xs-0 padding-left-sm-30 padding-right-sm-30" onclick="showModal('login');">Login</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
					<a href="/" class="navbar-brand"><img src="/images/adeqo-logo.png" alt="Adeqo" title="Adeqo" class=""/></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<!-- <li><a href="/"><i>Home</i></a></li> -->
						<li class="dropdown">
							<!-- <a href="/#" class="dropdown-toggle disable" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i>Features</i> <span class="caret"></span></a> -->
							<ul class="dropdown-menu pull-left text-uppercase">
								<!-- <li><a href="/services/search_engine_marketing"><i>Search Engine Marketing</i></a></li>
								<li><a href="/services/search_engine_optimization"><i>Search Engine Optimization</i></a></li>
								<li><a href="/services/social_media_marketing"><i>Social Media Marketing</i></a></li>
								<li><a href="/services/content_localisation"><i>Content Localization</i></a></li> -->
								
								<li><a href="#"><i>Real Time China</i></a></li>
								<li><a href="#"><i>ROI Tracking</i></a></li>
								<li><a href="#"><i>Actionable Insights</i></a></li>
								<li><a href="#"><i>Data Visualization</i></a></li>
								<li><a href="#"><i>Cross Channel</i></a></li>
							</ul>
						</li>
						<li><a href="/pricing"><i>Pricing</i></a></li>
						<li><a href="/demo"><i>Request Demo</i></a></li>
						<!-- <li><a href="/demo"><i>FREE CONSULTATION</i></a></li> -->
						<li><a href="http://blog.adeqo.com/"><i>Blog</i></a></li>
						<!-- <li><a href="/contact_us"><i>Contact Us</i></a></li> -->
						<!-- <li><a onclick="showModal('login');"><i>Login</i></a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</nav>
</header>