<div class="adeqo-container page-personal-demo">

	<%= render :partial => "header" %>

	<section class="banner vertical-align-middle">
		<h1 class="color-xs-black font-size-xs-30pt font-size-sm-42pt text-center text-uppercase margin-top-sm-400">Talk To The Team</h1>
		<div class="scroll-container"><a href="#content" class="font-size-xs-42pt"><i class="color-xs-white fa fa-angle-down" aria-hidden="true"></i></a></div>
	</section>

	<section class="padding-top-xs-60 padding-bottom-xs-60" id="content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 font-size-xs-17pt">
					<h2 class="text-center">Thanks for your email, we will reply to you shortly!</h2>
				</div>
			</div>
		</div>
	</section>

	<%= render :partial => "footer" %>
</div>

<!-- Modal-->
<%= render :partial => "modal" %>
<!-- /Modal-->

