<div class="adeqo-container page-personal-demo">
	
	<%= render :partial => "header" %>
	
	<section class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 class="font-size-xs-24pt margin-top-xs-60 text-center text-uppercase">Drive Performance for Your Advertising to China Audiences Today</h1>
				<h2 class="font-size-xs-20pt margin-bottom-xs-60 text-center">Unlimited accounts, flexible subscription options</h2>
			</div>
		</div>
	</section>
	<section class="" id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-2">
					<table class="table table-outer" id="pricing-table-std">
						<thead>
							<tr>
								<th class="font-size-xs-18pt text-center text-normal text-uppercase">Standard</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="font-size-xs-16pt text-center">
									<div class="color-xs-red font-size-xs-30pt margin-top-xs-15"><sup class="font-size-xs-20pt">$</sup>3,000</div>
									<div class="margin-bottom-xs-30 color-xs-red"><strong>USD/MO</strong></div>
									<div class="">
										<ul class="list-unstyled">
											<li class="margin-bottom-xs-15">WHAT’S INCLUDED:</li>
											<li class="margin-bottom-xs-15">Campaign Management</li>
											<li class="margin-bottom-xs-15">Ad Optimization</li>
											<li class="margin-bottom-xs-15">Advanced Dashboard</li>
											<li class="margin-bottom-xs-15">Reporting Templates</li>
											<li class="margin-bottom-xs-15">Report Scheduler</li>
											<li class="margin-bottom-xs-0">Advanced Data Sources</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="text-center"><a href="/contact_us"><div class="btn btn-white font-size-xs-15pt button submit_button margin-top-xs-30 margin-bottom-xs-30">Talk to Us</div></a></td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="col-md-4">
					<table class="table table-outer" id="pricing-table-pro">
						<thead>
							<tr>
								<th class="font-size-xs-18pt text-center text-normal text-uppercase">Professional</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="font-size-xs-16pt text-center">
									<div class="color-xs-red font-size-xs-30pt margin-top-xs-15"><sup class="font-size-xs-20pt">$</sup>15,000</div>
									<div class="margin-bottom-xs-30 color-xs-red"><strong>USD/MO</strong></div>
									<div class="">
										<ul class="list-unstyled">
											<li class="margin-bottom-xs-15">ALL STANDARD FEATURES +</li>
											<li class="margin-bottom-xs-15 color-xs-red">Customizable Bid Rules</li>
											<li class="margin-bottom-xs-15 color-xs-red">Real Time Tracking</li>
											<li class="margin-bottom-xs-15 color-xs-red">Real Time Account Management</li>
											<li class="margin-bottom-xs-0 color-xs-red">Business Intelligence Integration</li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td class="text-center"><a href="/contact_us"><div class="btn btn-white font-size-xs-15pt button submit_button margin-top-xs-30 margin-bottom-xs-30">Talk to Us</div></a></td>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a href="/demo"><div class="btn btn-lg btn-red font-size-xs-17pt button submit_button margin-top-xs-60 margin-bottom-xs-60 text-uppercase">Request Demo</div></a>
				</div>
			</div>
		</div>
	</section>
	
	<%= render :partial => "footer" %>
	
</div>
<!-- Modal-->
<%= render :partial => "modal" %>
<!-- /Modal-->

