<div class="adeqo-container page-smm">
	
	<%= render :partial => "header" %>

	<section class="banner">
		<div class="container-fluid bg-xs-black-04 bg-sm-black-01">
			<div class="top-container">
				<div class="top-banner-container row padding-top-xs-60 padding-bottom-xs-60">
					<div class="col-sm-push-6 col-sm-6 col-md-push-5 col-md-7 padding-xs-0">
						<h1 class="color-xs-white font-size-xs-24pt font-size-sm-30pt margin-top-xs-0 margin-bottom-xs-30 text-center text-uppercase">Social Media Marketing<br>In China</h1>
						<div class="login-box-container center-block text-center">
							<div class="login-btn-container">
								<a class="btn btn-lg btn-white font-size-xs-17pt text-uppercase" href="/contact_us">Talk To Us</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scroll-container"><a href="#content" class="font-size-xs-42pt"><i class="color-xs-white fa fa-angle-down" aria-hidden="true"></i></a></div>
	</section>
	<section id="content">
		<article class="bg-lightgrey padding-top-xs-140 padding-bottom-xs-100">
			<div class="container">
				<div class="row">
					<div class="col-xs-10 col-xs-push-1">
						<div class="text-center">
							<div>
								<h2 class="font-size-xs-28pt heading-line margin-top-xs-0 margin-bottom-xs-80 text-uppercase">Social Media Marketing In China<i class="fa fa-caret-down" aria-hidden="true"></i></h2>
							</div>
							<div class="login-heading font-size-xs-17pt">
								<p class="margin-bottom-xs-50">Social Media landscape in China differs significantly to the English speaking world. Adeqo team will help you find your voice in this vast and vibrant community. We research the market to find the right opinion leaders for your messages.</p>
								<p class="">Social Media advertising industry have been maturing in China as it has everywhere else in the world. At Adeqo, we develop social media marketing strategies that are measurable. We will make sure your social investment pays off.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article class="padding-top-xs-120 padding-bottom-xs-140 services-container">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-center">
						<h2 class="font-size-xs-28pt text-uppercase heading-line margin-top-xs-0 margin-bottom-xs-80">Services<i class="fa fa-caret-down" aria-hidden="true"></i></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-4 margin-bottom-xs-40 margin-bottom-md-0">
						<a href="/services/search_engine_marketing">
							<div>
								<div class="services-img-container"><img src="/images/home/sem.png" alt="Search Engine Marketing" title="Search Engine Marketing" class="center-block img-responsive"/></div>
								<h3 class="font-size-xs-22pt margin-bottom-xs-0 text-center text-uppercase">Search Engine<br> Marketing</h3>
							</div>
						</a>
					</div>
					<div class="col-xs-12 col-md-4 margin-bottom-xs-40 margin-bottom-md-0">
						<a href="/services/search_engine_optimization">
							<div>
								<div class="services-img-container"><img src="/images/home/seo.png" alt="Search Engine Optimization" title="Search Engine Optimization" class="center-block img-responsive"/></div>
								<h3 class="font-size-xs-22pt margin-bottom-xs-0 text-center text-uppercase">Search Engine <br>Optimization</h3>
							</div>
						</a>
					</div>
					<div class="col-xs-12 col-md-4 margin-bottom-xs-40 margin-bottom-md-0">
						<a href="/services/content_localisation">
							<div>
								<div class="services-img-container"><img src="/images/home/content.png" alt="Content Localisation" title="Content Localisation" class="center-block img-responsive"/></div>
								<h3 class="font-size-xs-22pt margin-bottom-xs-0 text-center text-uppercase">Content <br>Localization</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</article>
		<article class="bg-darkgrey padding-top-xs-100 padding-bottom-xs-100">
			<div class="container">
				<div class="">
					<h2 class="color-xs-white text-center margin-top-xs-0 margin-bottom-xs-30">Join the businesses that use Adeqo today!</h2>
					<div class="login-box-container center-block text-center">
						<div class="login-btn-container">
							<a class="btn btn-lg btn-white font-size-xs-17pt text-uppercase" href="/contact_us">Talk To Us</a>
						</div>
					</div>
				</div>
			</div>
		</article>
	</section>
	
	<%= render :partial => "footer" %>
	
</div>
<!-- Modal-->
<%= render :partial => "modal" %>
<!-- /Modal-->