<div class="page-login">
  <header>
    <nav class="navbar navbar-default navbar-static-top">
    <div class="bg-black color-xs-white line-height-xs-80">
      <div class="container">
        <div class="row padding-top-xs-10">
          <div class="col-xs-3 col-md-1"><img src="/images/logo-mobile.png" alt="Adeqo" title="Adeqo" class="head-img"/></div>
          <div class="col-md-7 padding-left-md-50 padding-right-sm-0 hidden-xs">
            <ul class="list-inline list-unstyled text-left">
              <li><a class="padding-right-md-15" href="/"><i class="color-xs-white">Back to Home page</i></a></li>
            </ul>
          </div>
          <div class=" col-md-4 padding-right-sm-30 hidden-xs">
            <ul>
              <a onclick="showModal('login');"><li class="btn btn-grey"><i class="color-xs-white">Login</i></li></a>
              <span class="padding-left-sm-5 color-xs-white"><i class="fa fa-phone color-xs-white padding-md-5" aria-hidden="true"></i>852 2492 2770</span>
            </ul>
          </div>
          <div class="col-xs-9 visible-xs-block head-bar">
            <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><i class="fa fa-bars color-xs-white font-size-xs-18pt" aria-hidden="true"></i></button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="landing.html"><i class="color-xs-white">Back to Home page</i></a></li>
                <li><a onclick="showModal('login');"><button type="button" class="btn btn-default btn-grey"><i>Login</i></button></a></li>
                <li class="margin-left-xs-15"><span class="color-xs-white"><i class="fa fa-phone color-xs-white padding-xs-5" aria-hidden="true"></i>852 2492 2770</span></li>
              </ul>
            </div>
           </div>
        </div>
      </div>
    </div>
  </nav>
  </header>

  <section>
    <div class="container-fluid row-1200">
      <div class="top-banner-container">
        <h1 class="center">Terms of Use</h1>
      </div>
    </div>
  </section>
  <section class="digital-marketing">
   <div class="row-1200 container-fluid">

   <!-- Start Section  -->
   <div class="legal-content">
<h2>Adeqo Limited Software Subscription Services Terms of Use</h2>

<p>Date Last Updated: February 22, 2016</p>

<p>These Adeqo Limited Software Subscription Services Terms of Use (<b>“Terms of Use”</b>) are entered into between you (<b>“You”</b> or <b>“Your”</b>), and, subject to the Country Schedule attached hereto as Exhibit B, either Adeqo Limited Software Incorporated, located at 123 Mission Street, 27th Floor, San Francisco, California 94105, or Adeqo Limited Software Limited, located at Block 2 Clanwilliam House, Lower Mount Street, Dublin 2 Republic of Ireland (each “Adeqo Limited Software”). If You accept or agree to these Terms of Use on behalf of a company or other legal entity by executing an Order Form referencing these Terms of Use, You represent and warrant that You have the authority to bind that company or other legal entity to these Terms of Use.  <b>“You”</b> and <b>“Your”</b> will refer and apply to that company or other legal entity.</p>

<p>Please carefully read these Terms of Use and our Privacy Policy, which may be found at <a href="/terms">http://www.adeqo.com/</a>, which is incorporated into these Terms of Use by reference. In the event of a conflict between these Terms of Use and the Privacy Policy, these Terms of Use shall prevail. The Agreement governs Your access to the use of the Subscription Services and constitutes a binding legal agreement between You and Adeqo Limited Software. </p>

<p>YOU ACKNOWLEDGE AND AGREE THAT, BY EXECUTING AN ORDER FORM REFERENCING THESE TERMS OF USE AND ACCESSING THE SUBSCRIPTION SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND, AND AGREE TO BE BOUND BY THESE TERMS OF USE. IF YOU DO NOT AGREE TO THESE TERMS OF USE, PLEASE CONTACT YOUR ACCOUNT MANAGER AS SOON AS POSSIBLE AND DO NOT ACCESS OR USE THE SUBSCRIPTION SERVICES. </p>

<h3>1. Subscription Services.</h3>

<h4>1.1 License. </h4>

<p>Subject to Your compliance with the Agreement, Adeqo Limited Software grants to you a limited, worldwide, non-exclusive, non-transferable (except as permitted in these Terms of Use) license to use the Subscription Services as described on an applicable Order Form and Documentation during the Term solely for Your own internal business purposes.</p>

<h4>1.2 Affiliate Use. </h4>

<p>Adeqo Limited Software may make the Subscription Services available to Your Affiliates, provided that such Affiliate(s) execute an Order Form referencing these Terms of Use. You may make the Subscription Services available to Your customers as part of Your provision of services to Your customers provided that You shall be fully responsible for Your customer use of the Subscription Services and You have the authority to act of behalf of such customers with respect to all obligations and representations set forth in these Terms of Use.</p>

<h4>1.3 Modifying and Terminating the Subscription Services. </h4>

<p>Adeqo Limited Software may make changes to the Subscription Services at any time. IF You do not wish to continue to use the modified Subscription Services, You may elect to stop using the Subscription Services subject to providing Adeqo Limited Software with seven days written notice of Your election to terminate. You shall remain liable for all Fees through the date of termination. </p>

<h4>1.2. Restrictions. </h4>

<p>You and Your Authorized Users shall not:</p>

<p>(A)  knowingly permit access to the Subscription Services by anyone other than Your Authorized Users;</p>

<p>(B) copy, modify, distribute, resell, display, or rent any portion of the Subscription Services except as permitted under the Agreement;</p>

<p>(C) attempt to disassemble, duplicate, copy, modify, decompile, frame, mirror, create derivative works from, reverse engineer, or distribute any portion of the Subscription Services or permit any third party to do so;</p>

<p>(D) subject to Your rights permitted under these Terms of Use, license, sell, rent, lease, transfer, assign, distribute, display, disclose, or otherwise commercially exploit, or otherwise make the Subscription Services and/or Documentation available to any third party except Your Authorized Users and customers, or attempt to obtain, or assist third parties in obtaining, access to the Subscription Services and/or Documentation;</p>

<p>(F) use the Subscription Services to transmit any unsolicited commercial communications unless permitted by law;</p>

<p>(G) send, store, or transmit data that may violate the intellectual property rights of any third party, or which have been unlawfully obtained;</p>

<p>(H) send, store, or transmit materials or data into the Subscription Services containing Viruses, or use the Subscription Services to transmit Viruses to third parties;</p>

<p>(I) use the Subscription Services to store, transmit, or process data that:<br>

(i) is unlawful, harmful, threatening, defamatory, obscene, infringing, harassing or racially or ethnically offensive; (ii) facilitates illegal activity; (iii) depicts sexually explicit images; (iv) promotes unlawful violence; (v) is discriminatory based on race, gender, color, religious belief, sexual orientation, disability; or (vi) is otherwise illegal or causes damage or injury to any person or property; and Adeqo Limited Software reserves the right, without liability or prejudice to any other rights, to disable Your access to the Subscription Services if You violate this Section 1.2(I); and</p>

<p>(J) except as permitted herein, share with any third parties, any Credentials, account numbers, and account profiles for the Subscription Services. </p>

<h3>2.  Proprietary Rights. </h3>

<h4>2.1 Adeqo Limited Software and its licensors exclusively own and retain all rights,</h4>

<p>title and interest in and to the Subscription Services, including all copies of any software used for the provision of the Subscription Services and all Intellectual Property Rights therein or relating thereto. All rights not expressly granted to You in the Agreement are reserved by Adeqo Limited Software.</p>

<h4>2.2 Feedback.</h4>

<p>You hereby grant to Adeqo Limited Software a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, fully paid-up license to use, modify and incorporate Your Feedback into the Subscription Services and to further market, distribute and sell the Subscription Services with Your Feedback incorporated therein. </p>

<h4>2.3 Subscriber Data. </h4>

<p>You shall exclusively own all rights, title, and interest in and to the Subscriber Data. You hereby grant to Adeqo Limited Software a non-exclusive, worldwide, royalty-free, fully paid-up license during the Term of the Agreement and the follow-on period described in Section 8.3(B) to: (i) collect, analyze, use, store, and transmit the Subscriber Data, (ii) combine and aggregate the Subscriber Data with other data to perform the Subscription Services, and (iii) to disclose the Subscriber Data as required by law. You grant Adeqo Limited Software a worldwide, irrevocable, non-exclusive, transferable, fully paid-up, and royalty-free license to aggregate, use, display, reproduce, distribute, and analyze Aggregated Subscriber Data in any format and through any applicable channels for any legal purposes.</p>

<h4>2.4 Aggregated Use Data. </h4>

<p>You acknowledge and agree that Adeqo Limited Software may collect Aggregated Use Data related to Your use of the Subscription Services collected in accordance with these Terms of Use in order to continue to develop, improve functionality of, and provide bug-fixes for the Subscription Services. Adeqo Limited Software is the sole owner of Aggregated Use Data.</p>

<h3>3. Privacy and Data Security. </h3>

<h4>3.1 Personally Identifiable Data. </h4>

<p>You may not transfer, or cause to be transferred, or input Personal Data into the Subscription Services without notifying Adeqo Limited Software in writing. To the extent that Subscriber Data is collected by, or on behalf of, You or Your customers from end users by the Subscription Services, You represent and warrant that all appropriate consents and waivers have been or will be obtained from such end-user(s).</p>

<h4>3.2 Privacy Policies and Opt-outs. </h4>

<p>If you use Adeqo Limited Display, Adeqo Limited Smart Pixel or Adeqo Limited Tracker, You must post on Your website(s) a privacy policy that: (A) complies with all applicable laws, rules, and regulations, (B) accurately discloses the data collection, use, and disclosure practices applicable to such site, and (C) discloses the use of one or more third parties for ad serving and/or data collection activities. The parties agree that their privacy polic(ies) will provide end-users with a conspicuous link to a functional opt-out page so that end-users may opt-out of tracking activities. You may not use Subscription Services to collect data derived from end-user or data pertaining to an end-user who has opted-out of having those data collected. The parties agree to use industry-standard security measures in connection with their obligations hereunder, including industry-standard security measures for data transmission and storage.</p>

<h4>3.3 Data Security and Storage. </h4>

<p>Adeqo Limited Software shall maintain commercially reasonable, industry standard security practices to transmit, store, and process Subscriber Data. In the event of Subscriber Data loss or corruption, Adeqo Limited Software will use commercially reasonable efforts to restore such lost or corrupted data from the latest backup of Subscriber Data maintained by Adeqo Limited Software. Adeqo Limited Software shall not be responsible for any loss, destruction, alteration, unauthorized disclosure, or corruption of Subscriber Data not directly under the control of Adeqo Limited Software. Adeqo Limited SOFTWARE’S EFFORTS TO RESTORE LOST OR CORRUPTED SUBSCRIBER DATA PURSUANT TO THIS SECTION, SHALL CONSTITUTE Adeqo Limited SOFTWARE’S SOLE LIABILITY AND YOUR SOLE AND EXCLUSIVE REMEDY IN THE EVENT OF ANY LOSS OR CORRUPTION OF SUBSCRIBER DATA. Adeqo Limited Software reserves the right to modify its data storage practices, so long as those modifications do not reduce or diminish those storage practices in effect as of the Effective Date.</p>

<h3>4.  Your Obligations.</h3>

<h4>4.1 Marketing Support. </h4>

<p>During the Term, You grant Adeqo Limited Software the right to publish Your corporate logo on its website and in marketing materials that include examples of Adeqo Limited Software customers and publicly acknowledge You as a Adeqo Limited Software customer in a press release, the content of which, Adeqo Limited Software and You shall mutually approve in advance.  Subject to Your agreement, You may participate in a Adeqo Limited Software customer case study, provided that Adeqo Limited Software covers the costs of Your participation.</p>

<h4>4.2 Enforcement. </h4>

<p>You are responsible for Your Authorized Users’ use of the Subscription Services. You shall promptly notify Adeqo Limited Software of any suspected or alleged violation of the Agreement by an Authorized User, including any unauthorized use of any password or account or any other known or suspected breach of security of the Subscription Services. Adeqo Limited Software may suspend or terminate any Authorized User’s access to the Subscription Services upon notice to You in the event that Adeqo Limited Software reasonably determines that such Authorized User has violated the Agreement. </p>

<h4>4.3 Telecommunications and Internet Services. </h4>

<p>You understand that Your Authorized Users use of the Subscription Services is dependent upon Your access to telecommunications and internet services. You must acquire and maintain at Your own expense such telecommunications and Internet services, including, without limitation, any and all fees and taxes of any kind related to the foregoing. Adeqo Limited Software shall not be responsible or liable for any data loss or corruption, lost communications, or any other losses or damages caused by Your telecommunications and internet service providers or due to Your utilizing telecommunications and internet services.</p>

<h4>4.4 Third Party Interactions. </h4>

<p>You or Your Authorized Users may maintain accounts with Publishers that may be accessed via the Subscription Services. Any such accounts shall be subject to the terms and conditions of Your arrangements with such Publishers, and Adeqo Limited Software hereby disclaims any and all responsibilities and liabilities related thereto.</p>

<h3>5.  FEES. </h3>

<p>In consideration for Adeqo Limited Software providing the Subscription Services, You shall pay to Adeqo Limited Software those Fees described in the applicable Order Form.</p>

<h4>5.1 Invoices. </h4>

<p>You agree to provide Adeqo Limited Software with complete and accurate billing and contact information on the Order Form. The Fees shall commence on the Billing Start Date defined on the applicable Order Form. Platform Fees will be due even if You do not use the Subscription Services during a particular month or if Your use of the Subscription Services does not meet the lowest level of Fees calculated from the percent of spend rate. At the end of each month, Adeqo Limited Software will automatically issue an invoice to You, or bill Your credit card for the Subscription Services. Adeqo Limited Software will invoice You in accordance with the Order Form and will either (i) bill You in advance for the Platform Fees and bill You at the end of each month for any Fees in excess of the Platform Fees, or (ii) issue You with a single invoice at the end of each month for all Fees. Each invoice is due and payable as described on the Order Form (the <b>“Due Date”</b>).</p>

<h4>5.2 API Costs.</h4>

<p>If You incur third party API costs through Your use of the Subscription Services and such API costs are billed to Adeqo Limited Software by Your Publishers, Adeqo Limited Software will invoice You the applicable API costs at no additional mark up and You agree to pay Adeqo Limited Software for such API costs. Adeqo Limited Software will provide You with notice if such API costs are imposed on You.</p>

<h4>5.3 Disputes and Overdue Payments. </h4>

<p>If You believe in good faith that Your invoice is incorrect, You must contact Adeqo Limited Software in writing within 10 days of Your receipt of the invoice and describe (in reasonable detail) the amount of the disputed charges and the reason for Your good faith disagreement. If Adeqo Limited Software has not received payment within 10 days after the Due Date, interest shall accrue on the past due amounts at the rate of one and 1.5% per month, but in no event greater than the highest rate of interest allowed by law, calculated from the Due Date until the date that payment is received by Adeqo Limited Software. You shall reimburse Adeqo Limited Software for the reasonable costs of collection, including reasonable fees and expenses of attorneys. If Your account is 30 days or more past the Due Date, in addition to any of its other rights or remedies, Adeqo Limited Software reserves the right to suspend the Subscription Services, without liability to You, until such amounts are paid in full.</p>

<h4>5.4 Bank Fees. </h4>

<p>Adeqo Limited Software shall not be responsible for any fees Your financial institution may impose upon You in the payment of Your invoice (including without limitation any transfer fees).</p>

<h4>5.5 Taxes. </h4>

<p>Fees are exclusive of taxes, duties, levies, tariffs, and other governmental charges (including, without limitation, VAT if applicable) (collectively, <b>“Taxes”</b>). You shall be responsible for payment of all Taxes and any related interest and/or penalties resulting from any payments made hereunder, other than any taxes based on Adeqo Limited Software’s net income.</p>

<h3>6.  CONFIDENTIALITY </h3>

<h4>6.1 Definition and Exclusions. </h4>

<p>By virtue of this Agreement, the parties may have access to each other’s Confidential Information. Confidential Information shall not include information that: (a) is or becomes publicly known through no act or omission of the receiving party; (b) was in the receiving party’s lawful possession prior to the disclosure; (c) is rightfully disclosed to the receiving party by a third party without restriction on disclosure; or (d) is independently developed by the receiving party, which independent development can be shown by written evidence.</p>

<h4>6.2 Use and Nondisclosure. </h4>

<p>During the Term and for a period of three years after expiration or termination of the Agreement, neither party shall make the other’s Confidential Information available to any third party or use the other’s Confidential Information for any purposes other than exercising its rights and performing its obligations under the Agreement. Each party shall take all reasonable steps to ensure that the other’s Confidential Information is not disclosed or distributed by its employees or agents in violation of the Agreement, but in no event will either party use less effort to protect the Confidential Information of the other party than it uses to protect its own Confidential Information of like importance. Each party will ensure that any agents or subcontractors that are permitted to access any of the other’s Confidential Information are legally bound to comply with the obligations set forth herein. Notwithstanding the foregoing, Confidential Information may be disclosed as required by any governmental agency, provided that before disclosing such information the disclosing party must provide the non-disclosing party with sufficient advance notice of the agency’s request for the information to enable the non-disclosing party to exercise any rights it may have to challenge or limit the agency’s authority to receive such Confidential Information. Furthermore, You acknowledge and agree that, upon expiration or termination of the Agreement, Adeqo Limited Software shall either destroy or deliver Subscriber Data back to You pursuant to Section 8.3, and shall have no other obligation to You regarding such Subscriber Data under this Agreement. </p>

<h3>7.  WARRANTY</h3>

<h4>7.1 Warranty for Subscription Services. </h4>

<p>Adeqo Limited Software warrants that the Subscription Services shall perform materially in accordance with the Documentation, which may be updated from time to time by Adeqo Limited Software, and the Subscription Services will not contain or transmit to You any viruses, worms, time bombs, Trojan horses and other harmful or malicious code, files, scripts, agents or programs. </p>

<h4>7.2 Disclaimer. </h4>

<p>EXCEPT AS EXPRESSLY PROVIDED IN THESE TERMS OF USE, NEITHER PARTY MAKES ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND WHATSOEVER, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SUBJECT MATTER OF THIS AGREEMENT OR THE SUBSCRIPTION SERVICES. WITHOUT LIMITING THE FOREGOING, EXCEPT AS EXPRESSLY PROVIDED IN SECTION 7.1, Adeqo Limited SOFTWARE DISCLAIMS ANY WARRANTY THAT THE SUBSCRIPTION SERVICES WILL BE ERROR FREE OR UNINTERRUPTED OR THAT ALL ERRORS WILL BE CORRECTED.  Adeqo Limited SOFTWARE FURTHER DISCLAIMS ANY AND ALL WARRANTIES WITH RESPECT TO THE SUBSCRIPTION SERVICES AS TO MERCHANTABILITY, ACCURACY OF ANY INFORMATION PROVIDED, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Adeqo Limited SOFTWARE FURTHER DISCLAIMS ANY AND ALL WARRANTIES ARISING FROM COURSE OF DEALING OR USAGE OF TRADE. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM Adeqo Limited SOFTWARE OR ELSEWHERE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS AGREEMENT. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES IN CERTAIN CIRCUMSTANCES. ACCORDINGLY, SOME OF THE LIMITATIONS SET FORTH ABOVE MAY NOT APPLY. </p>

<h3>8.  TERM AND TERMINATION</h3>

<h4>8.1 Term. </h4>

<p>These Terms of Use shall commence on the Effective Date and shall remain in effect so long as the current or any subsequent Order Form(s) for the Subscription Services that references these Terms of Use is in effect.</p>

<h4>8.2 Termination for Cause. </h4>

<p>Either party may terminate this Agreement upon written notice: (A) if the other party materially breaches this Agreement and fails to correct the breach within 30 days following written notice specifying the breach; (B) if there is an adjudication of bankruptcy of any party under any bankruptcy or insolvency law; or (C) if a receiver for business or property of the other property is appointed or the other party makes any general assignment for the benefit of its creditors. Adeqo Limited Software may terminate a trial account or free account at any time in its sole discretion.  </p>

<h4>8.3 Rights and Obligations Upon Expiration or Termination. </h4>

<p>(A) Upon expiration or termination of this Agreement: (i) Your and Your Authorized Users right to access and use the Subscription Services shall immediately terminate; (ii) You and Your Authorized Users shall immediately cease all use of the Subscription Services; and (iii) the parties will make no further use of any Confidential Information, materials, or other items (and all copies thereof) belonging to the other party. </p>

<p>(B) Adeqo Limited Software will destroy or dispose of Your Subscriber Data in its possession unless Adeqo Limited Software receives, no later than 30 days after the expiration or termination date, a written request to deliver to You the then-most recent back-up of Your Subscriber Data. Adeqo Limited Software shall make commercially reasonable efforts to deliver the back-up copy to You within 30 days of receipt of such request. If requested by Adeqo Limited Software, You shall pay reasonable expenses incurred by Adeqo Limited Software in returning Subscriber Data to You. You agree and acknowledge that Adeqo Limited Software has no obligation to retain and may delete Your Subscriber Data after 30 days from the expiration or termination date of the Agreement. Adeqo Limited Software may retain all Aggregated Subscriber Data upon termination or expiration of the Agreement.</p>

<p>(C) Notwithstanding the foregoing, if the Agreement is terminated as a result of Your breach, Adeqo Limited Software shall have no obligation to deliver any copy of the Subscriber Data to You, and may delete such Subscriber Data at any time after termination of the Agreement. </p>

<p>(D) Upon expiration or termination of this Agreement, Adeqo Limited Software shall stop using Your corporate logo; provided, however, (i) Adeqo Limited Software shall have a reasonable time to remove Your corporate logo from Adeqo Limited Software’s website as well as from any promotional materials, (ii) Adeqo Limited Software shall be entitled to distribute all of the promotional materials printed during the Term that include Your corporate logo, and (iii) Adeqo Limited Software shall not be required to remove any such printed materials from circulation.  </p>

<h4>8.4 Survival.</h4>

<p>Section 5 shall survive any expiration or termination of this Agreement for so long as either of the parties has any rights, duties or obligations thereunder. Sections 1.2, 2, 3, 6, 8.3, 8.4, 9, 10 and 11.1 shall survive any expiration or termination of this Agreement. </p>

<h3>9.  INDEMNIFICATION. </h3>

<p>Each party (an <b>“Indemnifying Party”</b>) will indemnify, defend, and otherwise hold harmless the other party (the <b>“Indemnified Party”</b>), its officers, directors, employees, agents, and subsidiaries from and against any claim or suit brought by a third party against the Indemnified Party relating to, or resulting from, the Indemnifying Party’s breach or alleged breach of this Agreement or any of the Indemnifying Party’s representations and warranties hereunder or violation of a third party’s Intellectual Property Rights. The Indemnified Party will promptly notify the Indemnifying Party of any and all such claims and will reasonably cooperate with the Indemnifying Party with the defense and/or settlement thereof; provided that, if any settlement requires an affirmative obligation of, results in any ongoing liability to or prejudices or detrimentally impacts the Indemnified Party in any way and such obligation, liability, prejudice or impact can reasonably be expected to be material, then such settlement will require the Indemnified Party's written consent (to be granted or withheld at the Indemnified Party’s sole discretion) and the Indemnified Party may have its own counsel in attendance at all proceedings and substantive negotiations relating to such claim.</p>

<h3>10.  LIMITATION OF LIABILITY. </h3>

<p>EXCEPT FOR LIABILITY ARISING FROM A PARTY’S BREACH OF ITS OBLIGATIONS HEREIN REGARDING CONFIDENTIAL INFORMATION, A BREACH OF SECTION 1.2 (RESTRICTIONS), OR IN CONNECTION WITH THE INDEMNIFICATION OF THIRD PARTY CLAIMS RELATING TO INFRINGEMENT OF A THIRD PARTY’S INTELLECTUAL PROPERTY RIGHTS, (A) IN NO EVENT SHALL EITHER PARTY BE LIABLE TO THE OTHER PARTY FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING LOSS OF INCOME, DATA, PROFITS, REVENUE OR BUSINESS INTERRUPTION, OR COST OF SUBSTITUTE SERVICES, OR OTHER ECONOMIC LOSS, WHETHER OR NOT SUCH PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND WHETHER ANY CLAIM FOR RECOVERY IS BASED ON THEORIES OF CONTRACT, WARRANTY, TORT (INCLUDING NEGLIGENCE AND STRICT LIABILITY) OR OTHERWISE, AND (B) IN NO EVENT SHALL Adeqo Limited SOFTWARE’S AGGREGATE LIABILITY TO YOU AND ANY THIRD PARTY IN CONNECTION WITH THIS AGREEMENT OR YOUR ACCESS TO AND USE OF THE SUBSCRIPTION SERVICES EXCEED THE TOTAL MONTHLY SUBSCRIPTION FEES PAID OR PAYABLE BY YOU IN THE 12 MONTH PERIOD PRECEDING THE CLAIM OR ACTION, REGARDLESS OF THE FORM OR THEORY OF THE CLAIM OR ACTION. </p>

<h3>11.  GENERAL.</h3>

<h4>11.1 Governing Law. </h4>

<p>Unless otherwise specified in the attached Country Schedule, the Agreement and all matters arising out of or relating to the Agreement shall be governed by the laws of the State of California, without regard to its conflict of laws provisions; provided that the Agreement will not be governed or interpreted in any way by referring to any law based on the Uniform Computer Information Transactions Act, even if that law is adopted in California. If You are outside of the United States, the parties agree that rights and obligations of the parties under the Agreement shall not be governed by the 1980 U.N. Convention on Contracts for the International Sale of Goods. Any legal action or proceeding relating to this Agreement shall be brought exclusively in the courts located San Francisco, California. You hereby agree to submit to the jurisdiction of, and agree that venue is proper in, those courts in any such legal action or proceeding. </p>

<h4>11.2 Waiver and Severability. </h4>

<p>The waiver by either party of any default or breach of the Agreement shall be in writing and shall not constitute a waiver of any other or subsequent default or breach. In the event any provision of the Agreement is held to be invalid or unenforceable, the remaining provisions of the Agreement shall remain in full force and effect.</p>

<h4>11.3 Force Majeure. </h4>

<p>Neither party shall be liable hereunder by reason of any failure or delay in the performance of its obligations hereunder (except for the payment of Fees due) on account of events beyond the reasonable control of such party, which may include without limitation denial-of-service attacks, strikes, shortages, riots, insurrection, fires, flood, storm, explosions, acts of God, war, terrorism, governmental action, labor conditions, earthquakes, and material shortages (each a <b>“Force Majeure Event”</b>). Upon the occurrence of a Force Majeure Event, the non-performing party will be excused from any further performance of its obligations effected by the Force Majeure Event for so long as the event continues and such party continues to use commercially reasonable efforts to resume performance.</p>

<h4>11.4 Compliance with Laws. </h4>

<p>Each party agrees to comply with all applicable laws and regulations with respect to its activities hereunder, including, but not limited to, the applicable export laws and regulations of the United States. </p>

<h4>11.5 Relationship Between the Parties. </h4>

<p>Nothing in this Agreement shall be construed to create a partnership, joint venture or agency relationship between the parties.  Neither party will have the power to bind the other or to incur obligations on the other’s behalf without such other party’s prior written consent. </p>

<h4>11.6 Assignment. </h4>

<p>Neither party may assign this Agreement without prior written consent of the other party unless in connection with a merger, acquisition, or sale of all or substantially all of Adeqo Limited Software’s or Your assets, and provided that the surviving entity has agreed to be bound by this Agreement. Notwithstanding the foregoing, Adeqo Limited Software may assign this Agreement to any of its Affiliates without Your prior consent.</p>

<h4>11.7 Entire Agreement. </h4>

<p>These Terms of Use together with each Order Form and any exhibits hereto constitutes the complete and exclusive agreement between the parties concerning its subject matter and supersedes all prior or contemporaneous agreements or understandings, written or oral, concerning the subject matter of the Agreement. In the event of any inconsistency between the applicable Order Form and these Terms of Use (or its exhibits), these Terms of Use (or its exhibits) shall control, unless the Order Form expressly states that such term supersedes the conflicting term of these Terms of Use. </p>

<h4>11.8 Modification. </h4>

<p>Adeqo Limited Software reserves the right to modify these Terms of Use at anytime. Modified Terms are in effect as soon as they are available to You online at the following link: <a href="http://www.Adeqo Limitedsoftware.com/terms-of-use">http://www.Adeqo Limitedsoftware.com/terms-of-use</a>. Adeqo Limited Software will update the Last Updated date at the top of this page if we modify these Terms of Use. You have 14 days after the Last Updated Date to contact Adeqo Limited Software to terminate the Agreement if You disagree with the changes. After 14 days, all changes are binding for the remainder of the Term.</p>

<h4>11.9 Equitable Relief. </h4>

<p>The parties agree that a breach by either party of any confidentiality or proprietary rights provision of these Terms of Use may cause that party irreparable damage, for which the award of damages would not be adequate compensation. Consequently, either party may institute an action to enjoin the breaching party from any and all acts in violation of those provisions, which remedy shall be cumulative and not exclusive, and a party may seek the entry of an injunction enjoining any breach or threatened breach of those provisions, in addition to any other relief to which the non-breaching party may be entitled at law or in equity. </p>

<h4>11.10 No Third-Party Beneficiaries. </h4>

<p>Unless specified otherwise in the Agreement, no third party shall have any rights or obligations under the Agreement. </p>

<h4>11.11 Headings. </h4>

<p>The headings in these Terms of Use are for the convenience of reference only and have no legal effect.</p>

<h4>11.12 Notice.  </h4>

<p>Adeqo Limited Software may give notice to You by e-mail to Your e-mail address on record in Adeqo Limited Software’s account information. You may give notice to Adeqo Limited Software by sending an email to <a href="mailto:legal@Adeqo Limitedsoftware.com">legal@Adeqo Limitedsoftware.com.</a>  </p>

<h3>12.  DEFINITIONS</h3>

<p><b>“Affiliate”</b> means an entity that, directly or indirectly, through one or more intermediaries, owns or controls, is owned or controlled by, or is under common ownership or control with, a party; as used in this definition, the term “control” means the ownership of at least 50% of the equity of that entity or possessing the power to direct or cause the direction of the management of that entity.  </p>

<p><b>“Aggregated Use Data”</b> means data concerning the use, performance, and measurement data created by, or made available through the Subscription Services. These data may be related to or derived from Your use of the Subscription Services. Aggregated Use Data does not identify or permit identification of You, or Your customers, or contain Personal Data. </p>

<p><b>“Aggregated Subscriber Data”</b> means aggregated Subscriber Data collected by Adeqo Limited Software for the purpose of providing certain functionality within the the Subscription Services that is not directly accessible by, or identifiable to any other Adeqo Limited Software customer.</p>

<p><b>“Agreement”</b> means these Terms of Use, any exhibits attached hereto, any amendments to these Terms of use, and any applicable Order Forms referencing these Terms of Use.</p>

<p><b>“Authorized User”</b> means Your employees, consultants, contractors, customers, or agents that have (i) been assigned a Credential to access and use the Subscription Services, (ii) registered to access and use the Subscription Services, and (iii) agree to comply with the terms and conditions of the Agreement. </p>

<p><b>“Confidential Information”</b> means any written, machine-reproducible and/or visual materials that are labeled as proprietary, confidential, or with words of similar meaning, and all information that is orally or visually disclosed, if not so marked, if it is identified as proprietary or confidential at the time of its disclosure or in a writing provided within 30 days after disclosure. Adeqo Limited Software Confidential Information includes, without limitation, the Subscription Services and any software used for the provision of the Subscription Services, whether in source or executable code, documentation, nonpublic financial information, pricing other than pricing publicly disclosed on Adeqo Limited Software’s website, business plans, techniques, methods, processes, and the results of any performance tests of the Subscription Services.</p>

<p><b>“Cookie”</b> means a text file that is set on a computer when the computer communicates with a server and is recovered by that server.</p>

<p><b>“Credentials"</b> means the user identification and password to the Subscription Services delivered to You by Adeqo Limited Software, or set by You via the Subscription Services.</p>

<p><b>“Documentation”</b> means materials provided online via the Subscription Services in the help and training sections of the Subscription Services.</p>

<p><b>“Effective Date"</b> means the date these Terms of Use are executed by both parties. </p>

<p><b>“Feedback”</b> means voluntary comments and suggestions for improvements relating to the Subscription Services provided by You to Adeqo Limited Software.</p>

<p><b>“Fees”</b> means the charges specified in an Order Form. </p>

<p><b>“Intellectual Property Rights”</b> means patent rights (including, without limitation, patent applications and disclosures), copyrights, trade secrets, moral rights, know-how, with respect to Adeqo Limited Software, data generated by or otherwise derived from Your use of Subscription Services and any other intellectual property rights recognized in any country or jurisdiction in the world. </p>

<p><b>“Order Form”</b> means a Adeqo Limited Software Subscription Services order form that specifies the Fees, configuration, subscription period, and other details of the Subscription Services to be provided by Adeqo Limited Software to You.</p>

<p><b>“Personal Data”</b> means any data related to an identified or identifiable individual natural person; an identifiable person is one who can be identified, directly or indirectly, in particular by reference to an identification number or to one or more factors specific to its physical, physiological, mental, economic, cultural or social identity.</p>

<p><b>“Publisher(s)”</b> means one or more third parties, who provide You or Your Authorized Users with advertising services or other services that may be accessed via the Subscription Services.</p>

<p><b>“Subscriber Data”</b> means any data that: (a) collects via Adeqo Limited Software’s Cookies on Your properties, (b) Your proprietary data input by You or Your Authorized Users in the Subscription Services, (c) Your proprietary data received by the Subscription Services from Your Publishers, and (d) Subscriber Content that is stored or processed by the Subscription Services.  Subscriber Data is deemed Your Confidential Information.</p>

<p><b>“Subscriber Content”</b> means materials or advertisements created by or uploaded by Your Authorized Users into Adeqo Limited Display or Adeqo Limited Social for integration with Publisher Content. </p>

<p><b>“Subscription Services”</b> means Adeqo Limited Software’s hosted, online software application, accessible via web browser at the URL <a href="http://www.Adeqo Limitedsoftware.com">www.Adeqo Limitedsoftware.com</a>, <a href="http://www.perfectaudience.com">www.perfectaudience.com</a>, <a href="http://www.socialmoov.com">www.socialmoov.com</a> and any other URLs as Adeqo Limited Software may designate from time-to-time and any optional third party services ordered by You and provided to You through Adeqo Limited Software.  </p>

<p><b>“Term”</b> means the period specified in the Order Form(s).</p>

<p><b>“Viruses”</b> means software viruses, works, Trojan horses, or other harmful computer codes, agents, scripts, files or programs.</p>









<h2>Exhibit A – Product Specific Terms</h2>





<p>This <b>Exhibit A</b> “Product Specific Terms” attaches to the Terms of Use and provides the product specific terms applicable to Your use and purchase of the Subscription Services as defined on the applicable Order Form(s).</p>

<h3>I. Adeqo Limited Search Terms.</h3>

<h4>1. Adeqo Limited Search.</h4>

<p> Adeqo Limited Search (either the Enterprise or Professional editions) is a component of the Subscription Services that provides certain functionality subject to Your purchased configuration and services; (A) manage daily workflows across Your search Publishers, (B) assemble audience, revenue, and contextual data in a centralized location for analysis, (C) track monthly search budget to optimize toward defined key performance indicators, (D) access to Adeqo Limited Software’s intelligent search bidding algorithms, and (E) use of Adeqo Limited Tracking Pixel.</p>

<h4>2. Disclosure to Publishers.</h4>

 <p>You acknowledge and agree that Adeqo Limited Software will disclose certain Subscriber Data to Your Publishers for the purpose of providing the Adeqo Limited Search Services to You. </p>

<h3>II.  Adeqo Limited Display Terms.</h3>

<h4>1. Adeqo Limited Display.</h4>

<p>Adeqo Limited Display is a component of the Subscription Services that provides certain functionality, subject to Your purchased configuration and services: (A) Subscriber Content with third party online websites and content (<b>“Publisher Content”</b>), (B) use of the Adeqo Limited Smart Pixel Tag to collect and categorize Subscriber Data (C) cross-device retargeting services, and (D) access to standard and custom built audiences. Adeqo Limited Display integrates Subscriber Content with Publisher Content, at Adeqo Limited Software’s sole discretion, based upon criteria selected by You in Adeqo Limited Display. The website publisher, or its designee, has the ultimate authority to decide whether or not to accept Subscriber Content and the manner of integrating Subscriber Content. The Publisher Content is the sole responsibility of the entity that makes it available to Adeqo Limited Software and You. Adeqo Limited Software may review the Subscriber Content to determine if violates Adeqo Limited Software’s polices or Ad Exchange policies. Adeqo Limited Software may remove, or refuse to display Subscriber Content if it violates such policies or law. Adeqo Limited Software does not review all Publisher Content to which Subscriber Content may be integrated.</p>

<h4>2. Ad Exchanges.</h4>

<p>Adeqo Limited Software may act as Your agent for the limited purpose of bidding or purchasing Internet distributed advertising inventory and audience data through advertising exchanges, or other sellers of online advertising and audience data (collectively <b>“Ad Exchanges”</b>). As Your agent, You agree and acknowledge that Adeqo Limited Software has the authority to bind You to any and all terms and conditions or other agreements imposed by these Ad Exchanges. You authorize Adeqo Limited Software to collect data provided by, or from, or related to Ad Exchanges via cookies or other mechanisms for the purposes of subsequent re-targeting, interest categorization or syndication to third parties. </p>

<h4>3. Your Content License.</h4>

 <p>When You upload or otherwise submit Your Content to the Display Services, You give Adeqo Limited Software a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that Your Content works better with the Display Services), communicate, publish, publicly perform, publicly display and distribute such Your Content. The rights You grant in this license are for the limited purpose of operating, promoting, and improving our Services, and to develop new ones. </p>

<h4>5. Indemnification and Liability.</h4>

<p>In addition to any indemnity obligations in the Terms of Use, because Ad Exchanges may require that Adeqo Limited Software bind You to their terms and conditions related to Your Content (<b>“Ad Exchange Term and Conditions”</b>) to which Adeqo Limited Software must bind itself in order to provide the Display Services to You, You hereby agree to defend, indemnify and hold harmless Adeqo Limited Software and each Ad Exchange and its partners, agents, affiliates and licensors from any third party claim or liability arising out of or related to Your Content, ad trafficking decisions and targeting decisions, properties to which Your Content directs views (e.g. landing pages) and the redirect (e.g. URLs), services and products you advertise, or Your intentional breach of any Ad Exchange Terms and Conditions.</p>

<h4>6. Adeqo Limited Display Fees. </h4>

<p>Adeqo Limited Software measures, through its servers, the number of impressions and/or clicks and/or other indicators necessary for calculating the charges under these terms, and such data shall be included in your invoices or billing remittances. The amount charged to You is a combination of Adeqo Limited Software’s direct Ad Exchange cost and our service fee to act as Your agent in publishing Your Content. As Adeqo Limited Software purchases advertising inventory through the Ad Exchanges, the direct Ad Exchange costs are not fixed in advance and are subject to fluctuation. Accordingly, Your total Adeqo Limited Display Fees are not determined until the completion the Adeqo Limited Display services, at which point You are charged and the invoice amounts are binding. Through Adeqo Limited Display You may access statistics or indicators upon which Your invoice amounts are derived on a daily basis. You may control and make adjustments to Your accounts and campaigns via Adeqo Limited Display. Any modifications You make in setting up, budget adjustment, launching, pausing or stopping a campaign are Your sole responsibility. Any charges or costs that are a result of changes made by You will be included in Your invoice from Adeqo Limited Software. </p>

<h3>III. Adeqo Limited Social Terms</h3>

<h4>1. Adeqo Limited Social.</h4>

<p>Adeqo Limited Social is a component of the Subscription Services, which facilitates the creation, exchange, and management by users of advertising content and advertising campaigns on certain social media platforms (as defined in the applicable Order Form). Adeqo Limited Social shares Subscriber Data and Subscriber Content with Your social media Publisher accounts through the standard API program of certain social media platforms.</p>

<h4>2. Adeqo Limited Social Requirements. </h4>

<p>The parties agree to comply with the applicable social media platform’s guidelines or applicable user policy or any such equivalent rules as are in force from time to time in the jurisdiction that You, or Your Authorized Users are using the Social Services or as imposed during the Term. The parties obtain and maintain all necessary licenses, consents, and permissions necessary for the parties to perform their obligations under the Agreement. You are solely responsible for accessing the contents of Your accounts on Your social media platforms, and for entering into any transactions via the Adeqo Limited Social with Your social media platforms.</p>





<h2>Exhibit B - Country Schedule</h2>





<p>This <b>Exhibit B</b> “Country Schedule” attaches to the Terms of Use and provides terms specifically applicable to Your governing country. If there is a conflict between the Terms of Use and this Country Schedule, this Country Schedule provisions will control regarding the specific provisions listed in under the applicable country designation. The law that is applicable to the Agreement and the courts that have exclusive jurisdiction in relation to any dispute or matter arising out of connected with the Agreement depends upon the entity listed in the signature block of the Terms of Use.</p>

<h4>I. England, Gibraltar, Guernsey, Isle of May, Jersey </h4>

<p>Subscription Services provided by: Adeqo Limited Software Limited <br>
Law governing the Agreement: English law <br>
Courts having exclusive jurisdiction for disputes: London, England</p>

<h4>3.4 Data Processing - European Union. </h4>

<p>(A) To the extent that any Subscriber Data contains Personal Data of individuals located in the European Economic Area (“EEA”), Adeqo Limited Software Limited in Ireland will be considered the data processor of such Personal Data and will process it in compliance with applicable law. Adeqo Limited Software Incorporated is a subcontractor of Adeqo Limited Software Limited for the purposes of processing any Personal Data. Adeqo Limited Software will use commercially reasonable efforts to cooperate with You in responding to regulatory or data subject inquires received by You about Adeqo Limited Software’s collection and processing of Personal Data from individuals located in the EEA. </p>

<p>(B) You shall be solely responsible for determining the purpose of Adeqo Limited Software’s processing of Subscriber Data under this Agreement. You undertake to comply with your obligations as data controller under the applicable data protection legislation governing Personal Data and notably to obtain the prior consent of data subject whose Personal Data are processed and provide them with any appropriate information. You agree to indemnify and keep Adeqo Limited Software harmless in case of any claim related thereto. </p>

<p>(C) Adeqo Limited Software, acting as data processor will not process any Subscriber Data except to the extent necessary for the provision and/or receipt of the Subscription Services and then only where it is acting on and in accordance with Your written instructions. Adeqo Limited Software shall ensure that all subcontractors that participate in the processing of Your Personal Data shall comply with this Section.</p>

<h3>9. Limitation of Liability.</h3>

<h4>9.1 Nothing in this Agreement shall exclude or limit a party's liability for</h4>

<p>(i) fraud; (ii) death or personal injury caused by its negligence; (iii) any breach of the obligations implied by Section 12 Sale of Goods Act 1979 or Section 2 Supply of Goods and Services Act 1982; or (iv) any liability which cannot be excluded by law. </p>

<h4>9.2 Subject to Section 9.1.</h4>

<p>Except for liability arising from a party’s breach of its obligations herein regarding Confidential Information, a breach of <b>Section 1.2</b>, or in connection with the indemnification of third party claims relating to infringement of such third party’s intellectual property rights, (a) in no event shall either party be liable to the other party for any incidental, special, exemplary or consequential damages, including loss of income, data, profits, revenue or business interruption, or cost of substitute services, or other economic loss, whether or not such party has been advised of the possibility of such damages, and whether any claim for recovery is based on theories of contract, warranty, tort (including negligence and strict liability) or otherwise, and (b) notwithstanding any other provisions of this Agreement, in no event shall Adeqo Limited Software’s aggregate liability to you and any third party in connection with this Agreement or your access to and use of the Subscription Services exceed the total monthly subscription fees paid or payable by you in the 12 month period preceding the claim or action, regardless of the form or theory of the claim or action. </p>

<h3>II. Ireland</h3>

<p>Subscription Services provided by: Adeqo Limited Software Limited <br>
Law governing the Agreement: Irish law <br>
Courts having exclusive jurisdiction for disputes: Dublin, Republic of Ireland</p>

<h4>3.4 Data Processing - European Union. </h4>

<p>(A) To the extent that any Subscriber Data contains Personal Data of individuals located in the European Economic Area (“EEA”), Adeqo Limited Software Limited in Ireland will be considered the data processor of such Personal Data and will process it in compliance with applicable law. Adeqo Limited Software Incorporated is a subcontractor of Adeqo Limited Software Limited for the purposes of processing any Personal Data. Adeqo Limited Software will use commercially reasonable efforts to cooperate with You in responding to regulatory or data subject inquires received by You about Adeqo Limited Software’s collection and processing of Personal Data from individuals located in the EEA. </p>

<p>(B) You shall be solely responsible for determining the purpose of Adeqo Limited Software’s processing of Subscriber Data under this Agreement. You undertake to comply with your obligations as data controller under the applicable data protection legislation governing Personal Data and notably to obtain the prior consent of data subject whose Personal Data are processed and provide them with any appropriate information. You agree to indemnify and keep Adeqo Limited Software harmless in case of any claim related thereto. </p>

<p>(C) Adeqo Limited Software, acting as data processor will not process any Subscriber Data except to the extent necessary for the provision and/or receipt of the Subscription Services and then only where it is acting on and in accordance with Your written instructions. Adeqo Limited Software shall ensure that all subcontractors that participate in the processing of Your Personal Data shall comply with this Section.</p>

<h3>III. Japan</h3>

<p>Subscription Services provided by: Adeqo Limited Software Limited<br>
Law governing the Agreement: Japanese law<br>
Courts having exclusive jurisdiction for disputes: Tokyo, Japan</p>

<h3>IV. France</h3>

<p>Subscription Services provided by: Adeqo Limited Software Limited<br>
Law governing the Agreement: French law<br>
Courts having exclusive jurisdiction for disputes: Courts of Paris</p>

<h4>3.4 Data Processing - European Union </h4>

<p>(A) To the extent that any Subscriber Data contains Personal Data of individuals located in the European Economic Area (“EEA”), Adeqo Limited Software Limited in Ireland will be considered the data processor of such Personal Data and will process it in compliance with applicable law. Adeqo Limited Software Incorporated is a subcontractor of Adeqo Limited Software Limited for the purposes of processing any Personal Data. Adeqo Limited Software will use commercially reasonable efforts to cooperate with You in responding to regulatory or data subject inquires received by You about Adeqo Limited Software’s collection and processing of Personal Data from individuals located in the EEA. </p>

<p>(B) You shall be solely responsible for determining the purpose of Adeqo Limited Software’s processing of Subscriber Data under this Agreement. You undertake to comply with your obligations as data controller under the applicable data protection legislation governing Personal Data and notably to obtain the prior consent of data subject whose Personal Data are processed and provide them with any appropriate information. You agree to indemnify and keep Adeqo Limited Software harmless in case of any claim related thereto. </p>

<p>(C) Adeqo Limited Software, acting as data processor will not process any Subscriber Data except to the extent necessary for the provision and/or receipt of the Subscription Services and then only where it is acting on and in accordance with Your written instructions. Adeqo Limited Software shall ensure that all subcontractors that participate in the processing of Your Personal Data shall comply with this Section.</p>

<h3>V. Germany</h3>

<p>Subscription Services provided by: Adeqo Limited Software Limited <br>
Law governing Agreement: German <br>
Courts having exclusive jurisdiction: Munich</p>

<h4>3.4 Data Processing - European Union. </h4>

<p>(A) To the extent that any Subscriber Data contains Personal Data of individuals located in the European Economic Area (“EEA”), Adeqo Limited Software Limited in Ireland will be considered the data processor of such Personal Data and will process it in compliance with applicable law. Adeqo Limited Software Incorporated is a subcontractor of Adeqo Limited Software Limited for the purposes of processing any Personal Data. Adeqo Limited Software will use commercially reasonable efforts to cooperate with You in responding to regulatory or data subject inquires received by You about Adeqo Limited Software’s collection and processing of Personal Data from individuals located in the EEA. </p>

<p>(B) You shall be solely responsible for determining the purpose of Adeqo Limited Software’s processing of Subscriber Data under this Agreement. You undertake to comply with your obligations as data controller under the applicable data protection legislation governing Personal Data and notably to obtain the prior consent of data subject whose Personal Data are processed and provide them with any appropriate information. You agree to indemnify and keep Adeqo Limited Software harmless in case of any claim related thereto. </p>

<p>(C) Adeqo Limited Software, acting as data processor will not process any Subscriber Data except to the extent necessary for the provision and/or receipt of the Subscription Services and then only where it is acting on and in accordance with Your written instructions. Adeqo Limited Software shall ensure that all subcontractors that participate in the processing of Your Personal Data shall comply with this Section.</p>

<h3>6.  WARRANTY </h3>

<h4>6.1 Warranty for Subscription Services.</h4>

<p>Adeqo Limited Software warrants that during the Term of the Agreement (A) the Subscription Services shall perform materially in accordance with the description of the Subscription Services in Adeqo Limited Software’s Online Help website at the time when entering into this Agreement, and (B) the Subscription Services will not contain or transmit to You any viruses, worms, time bombs, Trojan horses and other harmful or malicious code, files, scripts, agents or programs. Adeqo Limited Software reserves the right to update or change the description of the Subscription Services in Adeqo Limited Software’s Online Help website and thus the functionality of the Subscription Services from time to time by giving notice to You in writing or by e-mail. You can reject such changes in writing within one month after receipt of the notification. If You do not reject in time, the changes will become effective. Adeqo Limited Software shall explicitly inform You of this legal consequence together with the notification of the change.  </p>

<h4>6.2 Notification of Defects.</h4>

<p>You must inform Adeqo Limited Software immediately of any discernible defect of the Subscription Services which occurs during the Term of the Agreement. </p>

<h4>6.3 Disclaimer of Warranty by Adeqo Limited Software.</h4>

<p>(A) Adeqo Limited Software shall have no warranty and liability for defects of the Subscription Services which have already been existent at the commencement of this Agreement in case that Adeqo Limited Software is not accountable for such defect. </p>

<p>(B) Adeqo Limited Software shall have no warranty and liability for any claims, losses, or damage caused by errors or omissions in any information provided to Adeqo Limited Software by You, including, without limitation, Subscriber Data, in connection with the Subscription Services or any actions taken by Adeqo Limited Software at Your direction. </p>

<p>(C) Adeqo Limited Software shall have no warranty and liability for any claims, losses or damages arising out of or in connection with the use by You or by any Authorized User of any third-party products, services, software or websites that are accessed via links from within the Subscription Services outside the sphere of responsibility of Adeqo Limited Software.</p>

<p>(D) EXCEPT AS EXPRESSLY PROVIDED IN <b>SECTION 6.1</b>, Adeqo Limited SOFTWARE DISCLAIMS ANY WARRANTY THAT THE SUBSCRIPTION SERVICES WILL BE AVAILABLE AND UNINTERRUPTED AT ALL TIMES.  Adeqo Limited SOFTWARE FURTHER DISCLAIMS ANY AND ALL WARRANTIES WITH RESPECT TO THE SUBSCRIPTION SERVICES AS TO MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.   NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM Adeqo Limited SOFTWARE OR ELSEWHERE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS AGREEMENT.</p>

<h4>6.4 No Self-Remedy of Defects. </h4>

<p>You must not remedy any defects of the Subscription Services by yourself or by engaging a third party and you may not claim from Adeqo Limited Software a reimbursement of any resultant expenses.</p>

<h4>6.5 Limitation of Claims for Damages.</h4>

<p>Any claims for damages or for compensation for expenses under warranty shall be subject to Section 9 (Limitation of Liability).</p>

<h3>9.  LIMITATION OF LIABILITY  </h3>

<h4>9.1 (A) Adeqo Limited SOFTWARE SHALL ONLY BE LIABLE FOR ANY DAMAGE,</h4>

<p>REGARDLESS OF THE LEGAL GROUNDS, IF SUCH DAMAGE WAS CAUSED WITH INTENT OR GROSS NEGLIGENCE OR WAS CULPABLY CAUSED BY Adeqo Limited SOFTWARE IN CONNECTION WITH A VIOLATION OF LIFE, BODY OR HEALTH, OR IN CASE OF NON-COMPLIANCE WITH A GUARANTEE, OR IF A DEFECT WAS FRAUDULENTLY CONCEALED BY Adeqo Limited SOFTWARE.</p>

<p>(B) Adeqo Limited SOFTWARE SHALL ALSO BE LIABLE IN THE CASE OF A CULPABLE VIOLATION OF AN ESSENTIAL CONTRACTUAL OBLIGATION OR CARDINAL DUTY, HOWEVER, IN THE EVENT OF AN ESSENTIAL CONTRACTUAL OBLIGATION OR CARDINAL DUTY VIOLATED BY SIMPLE NEGLIGENCE, Adeqo Limited SOFTWARE'S LIABILITY SHALL BE LIMITED TO THE TYPICALLY FORESEEABLE DAMAGE. A "CARDINAL DUTY" IN THE SENSE OF THIS PROVISION SHALL BE A DUTY OF Adeqo Limited SOFTWARE WHOSE FULFILLMENT ENABLES THE PROPER PERFORMANCE OF THE AGREEMENT, WHOSE INFRINGEMENT JEOPARDIZES ACHIEVING THE PURPOSE OF THE AGREEMENT AND IN WHOSE COMPLIANCE YOU NORMALLY TRUST.</p>

<p>(C) IN THE EVENT OF ANY DAMAGE CAUSED BY GROSS NEGLIGENCE OF Adeqo Limited SOFTWARE'S SIMPLE VICARIOUS AGENTS, Adeqo Limited SOFTWARE’S LIABILITY SHALL BE LIMITED TO THE TYPICALLY FORESEEABLE DAMAGE.</p>

<h4>9.2 EXCEPT IN THOSE EVENTS STATED IN SECTION 9.1(A) ABOVE,</h4>

<p>Adeqo Limited SOFTWARE’S AGGREGATE LIABILITY IN CONNECTION WITH THIS AGREEMENT OR YOUR ACCESS TO AND USE OF THE SUBSCRIPTION SERVICES SHALL NOT EXCEED THE TOTAL MONTHLY SUBSCRIPTION FEES PAID OR PAYABLE BY YOU IN THE 12 MONTH PERIOD PRECEDING THE CLAIM OR ACTION, REGARDLESS OF THE FORM OR THEORY OF THE CLAIM OR ACTION. </p>

<h4>9.3 ANY FURTHER-REACHING LIABILITY ON PART OF Adeqo Limited SOFTWARE SHALL BE EXCLUDED.</h4>

<p>LIABILITY UNDER THE GERMAN PRODUCT LIABILITY ACT SHALL REMAIN UNAFFECTED.</p>

<h4>VI. Russia </h4>

<p>Subscription Services provided by: Adeqo Limited Software Limited <br>
Law governing the Agreement: Russian law <br>
Courts having exclusive jurisdiction for disputes: Courts of Moscow</p>

<h4>VII. Any other country outside the United States not listed in this Country Schedule:  </h4>

<p>Subscription Services provided by: Adeqo Limited Software Limited <br>
Law governing the Agreement: Irish law <br>
Courts having exclusive jurisdiction for disputes: Dublin, Republic of Ireland</p>

<h4>3.4 Data Processing - European Union  </h4>

<p>(A) To the extent that any Subscriber Data contains Personal Data of individuals located in the European Economic Area (“EEA”), Adeqo Limited Software Limited in Ireland will be considered the data processor of such Personal Data and will process it in compliance with applicable law. Adeqo Limited Software Incorporated is a subcontractor of Adeqo Limited Software Limited for the purposes of processing any Personal Data. Adeqo Limited Software will use commercially reasonable efforts to cooperate with You in responding to regulatory or data subject inquires received by You about Adeqo Limited Software’s collection and processing of Personal Data from individuals located in the EEA. </p>

<p>(B) You shall be solely responsible for determining the purpose of Adeqo Limited Software’s processing of Subscriber Data under this Agreement. You undertake to comply with your obligations as data controller under the applicable data protection legislation governing Personal Data and notably to obtain the prior consent of data subject whose Personal Data are processed and provide them with any appropriate information. You agree to indemnify and keep Adeqo Limited Software harmless in case of any claim related thereto. </p>

<p>(C) Adeqo Limited Software, acting as data processor will not process any Subscriber Data except to the extent necessary for the provision and/or receipt of the Subscription Services and then only where it is acting on and in accordance with Your written instructions. Adeqo Limited Software shall ensure that all subcontractors that participate in the processing of Your Personal Data shall comply with this Section.</p>






<h2>Exhibit C - Productsup Terms   </h2>



<p>This <b>Exhibit C</b> “Productsup Terms” attaches to the Terms of use and governs Your use of the Data Services which are provided by Products-Up GmbH (<b>“Products Up”</b>) as part of Adeqo Limited Software’s Dynamic Campaign and Feed Optimization services. Capitalized terms not otherwise defined in this Exhibit shall have the same meaning ascribed to such terms in the Terms of Use.</p>

<h4>1. Data Services.</h4>

<h4>1.1 Adeqo Limited Software partners with Productsup GmbH to provide certain services as part of the Subscription Services (collectively the <b>“Data Services”</b>). </h4>

<p>The Data Services are provided by Productsup cloud-computing solution which is applicable via web browser at www.Products Up.com which is an software tool that provides individual product (SKU) data management and distribution to product marketing channels. </p>

<p>1.4 <b>"Products Up Pixel Tags"</b> means JavaScript or other code on or within a web page or other document that requests a graphic image from a web server, collects and sends data to that web server, and allows that web server to set, read, and modify one or more Cookies.

The Products Up Pixel Tags must be installed on Your web pages to access and use of some of the features of the Data Services.</p>

<h3>2. YOUR RESPONSIBILITIES  </h3>

<h4>2.1 Pixel Tags.  </h4>

<p>Products Up will provide copies of Products Up Pixel Tags to You for installation by You on Your web pages for use in connection with the Data Services. You acknowledge and agree that You must install Products Up Pixel Tags in order to access features and/or functionality of the Data Services for which the Products Up Pixel Tags are necessary. </p>

<h4>2.2 Access to Your Marketing Channels.  </h4>

<p>The Data Services process certain elements of the Subscriber Data and transmit such data to various online marketing channels (e.g. Google Shopping, eBay), with which You maintain Your own accounts. To facilitate the transmission of processed Subscriber Data from the Data Services to these online marketing channels, You will provide Your credentials with each of Your online marketing channels to Products Up.  </p>

<h4>3.  License; Restrictions.</h4>

<p>Adeqo Limited Software hereby grants to You a non-exclusive, non-transferrable right, during the Term, to use the Data Services for Your internal business purpose solely for the purpose of product-data management, product-data manipulation and optimization and distribution to marketing channels, and to install the Products Up Pixel Tags on Your applicable web pages for use in connection with the Data Services. Except as expressly licensed herein, this Exhibit does not transfer any Intellectual Property Rights in, or to the Data Services to You.</p>

<h4>4.  Warranty.</h4>

<p>Notwithstanding anything to the contrary elsewhere in the Terms of Use, Adeqo Limited Software’s sole warranty with regard to the Data Services is that the Data Services will perform in accordance with Products Up’s documentation for the Data Services, including but not limited to any online documentation.</p>

<h4>5.  Service Levels.  </h4>

<p>Notwithstanding anything to the contrary elsewhere in the Agreement, service availability standards generally applicable to Adeqo Limited Software’s Subscription Services do not apply to the Data Services.</p>

<h4>6.  TERM; TERMINATION; EFFECT OF EXPIRATION OR TERMINATION</h4>

<h4>6.2 Effect of Expiration or Termination.</h4>

<p>Promptly after the termination the Data Services, You will cease all use of the Data Services and will remove all Products Up Pixel Tags from Your web pages.</p>


</div>
 <!-- End Page Section -->
</div>
</section>
 <!-- End page Content -->


<!-- leon add footer -->
<footer class="footer-container">
  <div class="container-fluid hidden-xs row-1200">
      <div class="color-xs-white col-md-9 footer-text font-size-md-8pt">Copyright © 2017 Adeqo. Adeqo & Adeqo Limited are Intellectual Property of Beyond Media Global Limited. All Rights Reserved. ICP: 15044856.</div><div class="color-xs-white col-md-3 footer-text font-size-md-8pt text-right">Terms of use &amp; Privacy Policy</div>
  </div>
  <div class="container-fluid visible-xs-block">
      <div class="color-xs-white footer-text text-center font-size-xs-8pt">Copyright © 2017 Adeqo. Adeqo & Adeqo Limited are Intellectual Property of Beyond Media Global Limited. All Rights Reserved. ICP: 15044856.Terms of use &amp; Privacy Policy</div>
  </div>
</footer>

<!-- Leon add login Modal-->
<div id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal_label" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><img src="/images/close-button.png" alt="Close" title="Close"/></button>
				<div class="modal_container">
					<div class="modal_title">Login to Adeqo</div>
					<hr/>
					<form id="loginForm" action="" method="post">
						<input id="sub_user" type="hidden" name="sub_user" value="0"/>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loginname_container"><img src="/images/user-icon.jpg" alt="Email address" title="Email address"/>

							<input name="login_email" type="email" placeholder="Email address" autocomplete="off"/><br/><span id="login_email_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 password_container"><img src="/images/password-icon.jpg" alt="Password" title="Password"/>

							<input name="login_password" type="password" placeholder="Password" autocomplete="off"/><br/><span id="login_password_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 button_container">
							<!--<a class="modal_signup_button" href="javascript:;" onclick="showModal('signup');">SIGN UP</a><span class="hidden-xs"> | </span>-->
							<a href="javascript:;" onclick="showModal('reset');" class="modal_reset_button">Password Reset</a>
							<a href="javascript:;" onclick="loginSubmit();" class="modal_confirm_login_button">Login</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="signup_modal" tabindex="-1" role="dialog" aria-labelledby="signup_modal_label" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><img src="/images/close-button.png" alt="Close" title="Close"/></button>
				<div class="modal_container">
					<div class="modal_title">Sign Up to Adeqo</div>
					<hr/>
					<form id="signupForm" action="" method="post">
						<input id="user_role" type="hidden" name="user_role" value="super"/>
						<input id="company_role" type="hidden" name="company_role" value="normal"/>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loginname_container"><img src="/images/user-icon.jpg" alt="Email address" title="Email address"/>

							<input name="signup_email" type="email" placeholder="Email address" autocomplete="off"/><br/><span id="signup_email_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 password_container"><img src="/images/password-icon.jpg" alt="Password" title="Password"/>

							<input name="signup_password" type="password" placeholder="Password" autocomplete="off"/><br/><span id="signup_password_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 confirm_password_container"><img src="/images/password-icon.jpg" alt="Password" title="Password"/>

							<input name="signup_password2" type="password" placeholder="Confirm Password" autocomplete="off"/><br/><span id="signup_password2_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 company_container"><img src="/images/company-icon.jpg" alt="Company" title="Company"/>

							<input name="signup_company" type="text" placeholder="Company" autocomplete="off"/><br/><span id="signup_company_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 button_container"><a href="javascript:;" onclick="showModal('login');" class="modal_login_button">LOGIN</a><span class="hidden-xs"> </span>
						<a href="javascript:;" onclick="showModal('reset');" class="modal_reset_button">Password Reset</a>
							<a href="javascript:;" onclick="signupSubmit();" class="modal_confirm_signup_button">SIGN UP</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="reset_modal" tabindex="-1" role="dialog" aria-labelledby="reset_modal_label" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" data-dismiss="modal" aria-label="Close" class="close"><img src="/images/close-button.png" alt="Close" title="Close"/></button>
				<div class="modal_container">
					<div class="modal_title">Password Reset</div>
					<hr/>
					<form id="resetForm" action="" method="post">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 loginname_container"><img src="/images/user-icon.jpg" alt="Email address" title="Email address"/>

							<input name="reset_email" type="email" placeholder="Email address" autocomplete="off"/><br/><span id="reset_email_error" class="error_message"></span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 button_container"><a href="javascript:;" onclick="showModal('login');" class="modal_login_button">LOGIN</a><span class="hidden-xs"> </span>
							<a href="javascript:;" onclick="resetSubmit();" class="modal_confirm_reset_button">SEND RESET EMAIL</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end model -->